<% provide(:title, "Home") %>

<%= render 'layouts/jumbotron' %>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>识记标准</h2>
      <p>
        该层次的App能够帮助学习者提升术语界定、事实甄别、知识回 顾和信息检索的能⼒。许多教育类的App都属于这个层次。学习者可以在 这些App上做选择题、配对题、排序题或简答题。
      </p>
    </div>
    <div class="col-md-4">
      <h2>理解标准</h2>
      <p>
        该层次的App能够为学习者提供阐述观点、明晰 概念的机会。这个层次的App不再局限于要求学习者选择 “正确”答案，⽽而是以更更加开放的形式帮助学习者总结内容、阐释意义。
      </p>
    </div>
    <div class="col-md-4">
      <h2>应⽤标准</h2>
      <p>
        该层次的App为学习者提供了运⽤所学到的做事流程和⽅法展现⾃己能⼒的机会;同时也强调学习者运⽤所学的概念解决新问题的能⼒。
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h2>分析标准</h2>
      <p>
        该层次的App能够提⾼学习者区 分相关和不相关信息、确定各部分之间的 关系、提炼内容框架的能⼒。
      </p>
    </div>
    <div class="col-md-4">
      <h2>评价标准</h2>
      <p>
        该层次的App能够提升学习者使⽤内在的或外部的标准来评估材料料或⽅方法的能⼒。它们帮助学习者判断内容的可信度、精确度、品质、有效性，并做出有理理有据的决策。
      </p>
    </div>
    <div class="col-md-4">
      <h2>创造标准</h2>
      <p>
        该层次的App能够帮 助学习者萌⽣生创意、设计⽅方案 和创作作品。
      </p>
    </div>
  </div>


  <hr>

  <%= render 'layouts/footer' %>
</div> <!-- /container -->
