<% provide(:title, "Home") %>

<div class="jumbotron">
  <h1>Padagogy</h1>
  <p class="lead">
    Padagogy轮是⼀一个能够帮助教师和学⽣生⽤用移动终端开展教学活动的轮状模型。
  </p>
  <p><a class="btn btn-lg btn-success" href="#" role="button">现在注册</a></p>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4>识记标准</h4>
    <p>
      该层次的App能够帮助学习者提升术语界定、事实甄别、知识回 顾和信息检索的能⼒力力。许多教育类的App都属于这个层次。学习者可以在 这些App上做选择题、配对题、排序题或简答题。
    </p>

    <h4>理解标准</h4>
    <p>
      该层次的App能够为学习者提供阐述观点、明晰 概念的机会。这个层次的App不不再局限于要求学习者选择 “正确”答案，⽽而是以更更加开放的形式帮助学习者总结内 容、阐释意义。
    </p>

    <h4>应⽤标准</h4>
    <p>
      该层次的App为学习者提供了了运⽤用所学 到的做事流程和⽅方法展现⾃自⼰己能⼒力力的机会;同时 也强调学习者运⽤用所学的概念解决新问题的能⼒力力。
    </p>
  </div>

  <div class="col-lg-6">
    <h4>分析标准</h4>
    <p>
      该层次的App能够提⾼高学习者区 分相关和不不相关信息、确定各部分之间的 关系、提炼内容框架的能⼒力力。.
    </p>

    <h4>评价标准</h4>
    <p>
      该层次的App能够提升学习 者使⽤用内在的或外部的标准来评估材 料料或⽅方法的能⼒力力。它们帮助学习者判 断内容的可信度、精确度、品质、  有效性，并做出有理理有据的决策。
    </p>

    <h4>创造标准</h4>
    <p>
      该层次的App能够帮 助学习者萌⽣生创意、设计⽅方案 和创作作品。

    </p>
  </div>
</div>

