@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 60px;
  padding-bottom: 20px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

/* posts */

.posts {
  margin-top: 30px;
  .post-title, .post-summary {
    color: #333333;
    &:hover {
      color: #2E94B9;
    }
  }
}
.blog-post {
  .cover-img {
    img {
      margin: 0 auto;
    }
  }
  margin-bottom: 60px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
  font-size: 18px;
  line-height: 1.5;
  .blog-post-title {
    margin-bottom: 5px;
    font-size: 40px;
  }
  .blog-post-meta {
    margin-bottom: 20px;
    color: #999;
  }
}

/* Comment */
.comment-form {
  margin-bottom: 30px;
}

.comments-header {
  border-bottom: 1px dotted gray;
  margin-bottom: 10px;
}

.comments-container {
  p {
    margin-bottom: 0px;
  }
  .comment-nav {
    margin-left: 5px;
    margin-bottom: 10px;

    a {
      font-size: 10px;
      font-weight: bold;
      color: #888;
    }
  }
}

.reply-form {
  display: none;
}

.comments-show {
  margin-left: 25px;
}

/* edit user */
.gravatar_edit {
  margin-top: 15px;
}

/* app */
.padagogy-category,
.subject-category,
.grade-category {
  ul.category {
    height: 30px;
    padding: 0;
  }
  .category li {
    list-style: none;
    float: left;
    margin: 5px 10px;
    a {
      &:hover {
        color: #ffffff;
        background: #337ab7;
      }
    }
  }
}
.panel-body {
  border: 1px solid #eaeaea;
}
.app-lists {
  .app-item {
    .media {
      padding: 10px 0;
      .media-body {
        color: #bcbcbc;
      }
      .media-heading {
        a {
          color: #333333;
        }
      }
    }
    img {
      width: 64px;
      height: 64px;
      border-radius: 20px;
    }
  }
}

