@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
  .avator {
    padding: 7px 15px;
    img { border-radius: 50%; }
  }
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

/* posts */

.posts {
  margin-top: 30px;
  .post-title, .post-summary {
    color: #333333;
    &:hover {
      color: #2E94B9;
    }
  }
}
.cover-img { text-align: center; }

.blog-post {
  margin-bottom: 60px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
  font-size: 18px;
  line-height: 1.5;
  .blog-post-title {
    margin-bottom: 5px;
    font-size: 40px;
  }
  .blog-post-meta {
    margin-bottom: 20px;
    color: #999;
  }
}

/* Comment */
.comment-form {
  margin-bottom: 30px;
}

.comments-header {
  border-bottom: 1px dotted gray;
  margin-bottom: 10px;
}

.comments-container {
  p {
    margin-bottom: 0px;
  }
  .comment-nav {
    margin-left: 5px;
    margin-bottom: 10px;

    a {
      font-size: 10px;
      font-weight: bold;
      color: #888;
    }
  }
}

.reply-form {
  display: none;
}

.comments-show {
  margin-left: 25px;
}

/* edit user */
.gravatar_edit {
  margin-top: 15px;
}

/* app */
.padagogy-category,
.subject-category,
.grade-category {
  height: 30px;
  .category li {
    list-style: none;
    float: left;
    margin: 0 10px;
    a {
      &:hover {
        color: #ffffff;
        background: #337ab7;
      }
    }
  }
}
.panel-body {
  border: 1px solid #eaeaea;
}
.app-lists {
  .app-item {
    .media {
      padding: 10px 0;
      .media-body {
        color: #bcbcbc;
      }
      .media-heading {
        a {
          color: #333333;
        }
      }
    }
    img {
      width: 64px;
      height: 64px;
      border-radius: 20px;
    }
  }
}

/* show app */
.app-item-header {
  .media {
    .media-body {
      width: 50%;
      float: left;
    }
    .qr_code {
      text-align: center;
      width: 30%;
      float: left;
      .download-text {
        color: #ababab;
      }
    }
  }
}
