<div class="header clearfix">
  <nav>
    <ul class="nav nav-pills pull-right">
      <li role="presentation" class="active"><a href="#">首页</a></li>
      <li role="presentation"><a href="#">Padagogy</a></li>
      <li role="presentation"><a href="#">评测</a></li>
      <li role="presentation"><a href="#">帮助</a></li>
      <li role="presentation"><a href="#">联系</a></li>

      <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          登入 <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <h3 class="text-muted">Padagogy</h3>
</div>

