
<div class="jumbotron">
  <div class="container">
    <h1>Padagogy</h1>
    <p>
      Padagogy轮是⼀一个能够帮助教师和学⽣生⽤用移动终端开展教学活动的轮状模型。
    </p>
    <p><a class="btn btn-success btn-lg" href="<%= new_registration_path(:user) %>" role="button">现在注册 &raquo;</a></p>
  </div>
</div>
